@import "./fonts";

// COLORS
$c-white: white;
$c-white-2: #fafbff;
$c-white-3: #f9fbff;
$c-white-4: #f5f5f5;
$c-black: #000000;
$c-menu-text: #9197b3;
$c-purple: #5932ea;
$c-grey: #838383;
$c-grey-2: #757575;
$c-grey-3: #b5b7c0;
$c-extra-grey: #292d32;
$c-grey-4: #404b52;
$c-grey-5: #eeeeee;
$c-green-border: #00b087;
$c-green-btn: #a6e7d8;
$c-green-txt: #16c098;
$c-red-border: #df0404;
$c-red-btn: #ffc5c5;

// FONTS
$f-base: "Poppins";

// FONT-SIZE
$fs-26: 1.625rem;
$fs-10: 0.625rem;
$fs-14: 0.875rem;
$fs-24: 1.5rem;
$fs-22: 1.375rem;
$fs-12: 0.75rem;

// TRANSITION
